body{
    margin: 5% 30%;
    background-color: aliceblue;

}
button {
    background-color: #6087db;
    color: aliceblue;
    border: none;
    width: 100px;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
  
  }
  input{
    margin: 20px 10px;
    background-color:lavenderblush;
    padding: 7px 8px;
    height: 30px;
    font-size: 18px;
  }
  #list{
    color: blueviolet;
    padding-left: 20px;
    
  }